Config { font = "xft:Fira Code:size=10:antialias=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "#2E3440"
       , fgColor = "grey"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
                      Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    , Run Battery [
                    "-t", "<acstatus>: <left>%",
                    "--",
                    --"-c", "charge_full",
                    "-O", "AC",
                    "-o", "Bat",
                    "-h", "green",
                    "-l", "red"
                    ] 10
                    , Run Locks
                    , Run Weather "KSMF" ["-t","<tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <fc=#00bfff><icon=/home/jacob/downloads/arch-logo-lores-rescaled.xbm/></fc> %battery%   %cpu%   %memory%   %swap%   %locks%}\
                    \{%uname%   %KSMF%   <fc=#00bfff>%date%</fc> "
       }

