Config { font = "xft:Fira Code:size=10:antialias=true"
       , additionalFonts = []
       , borderColor = "black"
       , bgColor = "#2E3440"
       , fgColor = "grey"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
                      Run Com "uname" ["-s","-r"] "" 36000
                    , Run Com "baraction.sh" [] "baraction" 100
                    , Run Date "%A (%B) %Y-%m-%d %H:%M:%S" "date" 10
                    , Run Battery [
                        "-t", "<acstatus>: <left>%",
                        "--",
                        --"-c", "charge_full",
                            "-O", "AC",
                            "-o", "Bat",
                            "-h", "green",
                            "-l", "red"
                    ] 10
                    , Run Locks
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "  <fc=#d08770>%date%</fc>}\
                    \{<fc=#b48ead>%locks%</fc>   <fc=#ebcb8b>%baraction%</fc>  "
       }

